<h1>Blogs#index</h1>
<p>Find me in app/views/blogs/index.html.erb</p>

<% @blogs.each do |b| %>
  <div class="">
    <% if user_signed_in? && b.user.id == current_user.id%>
    <%= b.title %>
    <a href="/blogs/<%=b.id%>/edit">Edit</a>
    <% else %>
    <%= b.title %>
    <% end %>
    <div><%= b.content %></div>
    <div>
      <%= b.user.username %>
      <%= 'Subject or Grade Level: ' + b.user.subject_or_grade %>
      <%= 'Location: ' + b.user.location %>
    </div>
    <!-- <div class="">
      <%= b.comments %>
    </div> -->
    <% if user_signed_in? %>
    <div class="">
      <a href="blogs/<%=b.id%>">Comment</a>
    </div>
    <% end %>
    <% b.comments.each do |c| %>
      <% if user_signed_in? && c.user_id == current_user.id %>
      <!-- <%= link_to "Edit", edit_blog_comment_path(c.blog_id, c.id) %> -->
      <div>
      <a href="/blogs/<%= c.blog_id %>/comments/<%= c.id %>/edit">Edit</a>
      </div>
      <%= c.content %>
      <%= User.find(c.user_id).username %>
      <% else %>
      <div class="">
        <%= c.content %>
        <%= User.find(c.user_id).username %>
      </div>
      <hr>
      <% end %>
    <% end %>
    <hr>
  </div>
<% end %>
