
<% @blogs.reverse.take(10).each do |b| %>
  <div class="card">
    <% if user_signed_in? && b.user.id == current_user.id%>
    <div class="blog-title"><%= b.title %><a href="/blogs/<%=b.id%>/edit">edit</a></div>

    <% else %>
    <div class="blog-title"><%= b.title %></div>
    <% end %>
    <p class='blog-content'><%= b.content %></p>
    <div>
      written by:
      <a href='/blogs/<%=b.user.id%>/profile'><%= b.user.username %></a> |
      <%= b.user.subject_or_grade  %> |
      <%= b.user.location  %>
    </div>
    <% b.comments.each do |c| %>
      <% if user_signed_in? && c.user_id == current_user.id %>
      <p class='comment-content'><%= c.content %></p>
      <div>-<%= User.find(c.user_id).username %>
        <a href="/blogs/<%= c.blog_id %>/comments/<%= c.id %>/edit">edit</a>
      </div>
      <% else %>
      <p class="comment-content">
        <%= c.content %>
      </p>
      <div>-<a href='/blogs/<%=c.user.id%>/profile'><%= User.find(c.user_id).username %></a></div>
      <% end %>

    <% end %>
    <% if user_signed_in? %>
    <div class="comment-btns">click to comment</div>
    <div class='comment-forms'>Hi
      <% @blog = Blog.find(b.id) %>
      <%= form_for [@blog, @comment] do |f| %>
          comment:<%= f.text_field :content %>
          <%= f.submit id: "comment-submit"  "post comment"%>
      <%end%>
    </div>
    <% end %>
  </div>
<% end %>
