<% if user_signed_in? && @user.id == current_user.id %>
  <h2>your blogs</h2>

  <% @blogs.reverse.each do |b| %>
    <div class="card">
      <div class="blog-title"><%= b.title %><a href="/blogs/<%=b.id%>/edit">edit</a></div>
      <div class='blog-content'><%= b.content %></div>
      <% b.comments.each do |c| %>
      <% if user_signed_in? && c.user_id == current_user.id %>
      <p class='comment-content'><%= c.content %></p>
      <div>-<%= User.find(c.user_id).username %>
        <a href="/blogs/<%= c.blog_id %>/comments/<%= c.id %>/edit">edit</a>
      </div>
      <% else %>
      <p class="comment-content">
        <%= c.content %>
      </p>
      <div>-<a href='/blogs/<%=c.user.id%>/profile'><%= User.find(c.user_id).username %></a></div>
      <% end %>
  <% end %>
<!-- <% end %> -->
<% else %>
  <div class='card' id='profile-info'>
  <div><%= @user.username %></div>
  <div><%= @user.location %></div>
  <div><%= @user.subject_or_grade %></div>
</div>
  <h3><%= @user.username %>'s most recent blogs:</h3>
  <% @blogs.reverse.each do |b| %>
    <div class="card">
      <div class='blog-title'><%= b.title %></div>
      <div class="blog-content"><%= b.content %></div>
      <% b.comments.each do |c| %>
        <div class='comment-content'><%= c.content %></div>
        <div>-<%= User.find(c.user_id).username %></div>
      <% end %>
    </div>
  <% end %>
<% end %>
