<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% @blogs.each do |b| %>
  <div class="">
    <a href="#"><%= b.title %></a>
    <div><%= b.content %></div>
    <div>
      <%= b.user.username %>
      <%= 'Subject or Grade Level: ' + b.user.subject_or_grade %>
      <%= 'Location: ' + b.user.location %>
    </div>
    <hr>
  </div>
<% end %>
