<!DOCTYPE html>
<html>
  <head>
    <title>Devise2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/">Welcome</a>
      <% if user_signed_in? %>
      <a href="/blogs/<%=current_user.id%>">View/Edit your Blogs</a>
      <a href="/users/edit">View/Edit Account</a>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete%>
      <a href="/blogs/new">Write New Blog</a>
      <% else %>
      <a href="/users/sign_in">Create Account/Sign In</a>
      <% end %>

    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
