<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Schoolbell|Fredericka+the+Great|Kalam" rel="stylesheet">
    <%= favicon_link_tag asset_path('pencil.png'), :rel => 'icon', :type =>  'image/png' %>
    <title>Teacher's Lounge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
<div>
  <body>
    <div id="pg-title">Teacher's Lounge</div>
    <nav>
      <a class='nav-links'href="/">blog feed</a>
      <% if user_signed_in? %>
      <a class='nav-links'href="/blogs/new">write blog</a>
      <a class='nav-links'href="/blogs/<%=current_user.id%>/profile">my blogs</a>
      <a class='nav-links'href="/users/edit">account</a>
      <%= link_to "logout", destroy_user_session_path, method: :delete, class: 'nav-links'%>

      <% else %>
      <a class='nav-links' href="/users/sign_in">login|create account</a>
      <% end %>

    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
  <footer>
    <div id="footer">
      &copy; 2018 Jessica Clay
    </div>
  </footer>
</html>
